<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey form</form></title>
</head>
<body>
    <h1>Добро пожаловать! Пожалуйста, оформите форму ниже</h1>
    <form action="/submit_survey" method="POST">
        <label for="device_id">Device ID:</label><br>
        <input type="text" id="device_id" name="device_id" required><br><br>

        <label for="age">Ваш возраст:</label><br>
        <input type="text" id="age" name="age" required><br><br>

        <label for="course_ids">ID курсов(если у вас несколько курсов,вводите их через запятую):</label><br>
        <input type="text" id="course_ids" name="course_ids" required><br><br>

        <input type="submit" value="Подать форму">
    </form>
 
</body>
</html>
</body>
</html>
</body>
</html>